@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.bg-channel {
  padding : 8px 12px 8px 12px;
  background: #6A39E533;

}

.header {
  .header__title{
    font-size: 32px;
    color: #121212;
    font-weight: 700;
    font-style: bold;
  }
}

.form--signup {
  .input__form {
    padding: 12px 16px 12px 16px;
    border: 1px #DDDDDD solid;
    border-radius: 8px;
    padding-left: 3rem;
  }
}
